#mobile-menu {
  display: none;
  overflow: scroll;
}

#mobile-menu-open {
  box-shadow: 0 0 5px 5px white;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 43px;
  height: 43px;
  font-size: 48px;
  z-index: 10;
  transition: top 0.2s;
}

#canvas {
  top: 0;
}

#block-top {
  position: fixed;
  width: 50px;
  transition: top 0.2s;
}

#content-list-container {
  top: 0;
  z-index: 11;
}

#close-content-list-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

#block-top > div {
  display: none;
}

#mobile-button-table {
  width: 100%;
}

#mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: white;
}

.mobile-menu-item {
  font-size: 38px;
  padding: 10px;
  height: 38px;
}

.mobile-file-item > span {
  color: #999;
  padding-left: 30px;
  position: absolute;
  left: 0;
  right: 0;
}

.mobile-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
}

#mobile-file-list {
  border-top: 1px solid #999;
}

.mobile-delete-file {
  position: absolute;
  right: 0;
  color: #f55;
  background-color: white;
  box-shadow: 0 0 5px 5px white;
}

.mobile-file-name {
  white-space: nowrap;
  overflow: hidden;
}

#close-content-list-mobile {
  display: block;
}

#no-local-files-warning {
  color: #888;
  font-style: italic;
  margin-top: 30px;
  text-align: center;
  display: block;
}
